
@font-face
{
    font-family: Roboto;
    src: url('/fonts/Roboto-Light.ttf'), url('Sansation_Light.eot');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 14px Roboto, Helvetica, Arial, sans-serif;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: lightgray;
    text-decoration: underline;
    cursor: pointer;
}


#wrapper {
    position: relative;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(229, 227, 223);
    overflow: hidden;
    -webkit-transform: translateZ(0);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    -webkit-transition: all 1.0s ease-in-out;
    -moz-transition: all 1.0s ease-in-out;
    -o-transition: all 1.0s ease-in-out;
    -ms-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;
}

#centerBox {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 99;
    width: 50%;
    height: 30%;
    opacity: 0.8;
    padding: 20px;
}

#logo {
    width: 100%;
}

.logoText {
    font-family: Roboto;
    font-size: 2.5em;
    margin-left: 10px;
}

.logoText .grey {
    color: gray;
}

#hashtagBox {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    width: 50%;
    height: 30px;
    opacity: 0.8;
    text-align: center;
    font-size: 120%;
}

#leftPanelBg {
    overflow:hidden;
    z-index:2;
    position:absolute;
    background-color: rgba(51, 51, 51, 0.88);
    top: 0;
    left: -350px;
    width: 25%;
    min-width: 350px;
    height: 100%;
    opacity:0.4;
}

#leftPanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    min-width: 350px;
    height: 100%;
    color: white;
    z-index:3;
    overflow:hidden;
    display: none;
}

#panel-header {

}

#logoImage {
    width: 42px;
    margin-top: -20px;
}

.logoBox {
    margin: 0;
    padding: 5px 5px 5px 15px;
    background-color: white;
    color: rgb(51, 51, 51);
}

.intro-logoImage {
    width: 102px;
    margin-top: 10px;
    position: absolute;
}

.intro-logoText {
    font-size: 6.0em;
    padding-left: 120px;
}

.intro-logoText > .grey {
    color: gray;
}


header {
    display: none;
}

.blurheader {
    background: transparent;
    overflow: hidden;
    z-index: 10000;
    left: 0;
}


#markersInfo > ul {
    list-style: none;
    margin: 15px 0 5px 0;
    padding: 0;
}


#markersInfo > ul > li {
    padding: 10px 10px 10px 40px;
}


.marker-bullet {
    width: 22px;
    height: 26px;
    left: 10px;
    position: absolute;
}

.marker-info {
    cursor: pointer;
}

.musee-info {
    margin: 3px 5px 5px 10px;
}


.musee-nom {
    padding: 0 0 0 0;
    font-size: 22px;
}

.musee-addresse {
    padding: 0 0 0 0;
}

.musee-ville {
    padding: 2px 5px 2px 0;
    margin-bottom: 10px;
}

.musee-horaires {
    padding: 5px 0 0 0;
}

.musee-horaires-extra {
    padding: 2px 0 2px 0;
    margin-bottom: 0;
}

.musee-streetview:hover {
    cursor: pointer;
}

.musee-streetview {
    padding: 50px 10px 5px 30px;
}

.musee-news {

}

.musee-siteweb {
    padding: 12px 0 0 0;
}

.musee-distance {
    padding: 10px 0 0 0;
}

.android-app {
    position: absolute;
    bottom: 0;
    padding: 10px;
    right: 0;
}

.android-app img {
    width: 100px;
}

.img-distance {
    height: 12px;
    margin-right: 8px;
}

.img-horaire {
    height: 12px;
    margin-right: 8px;
}